body {
  /* width: 100%; */
  min-width: 222px;
  /* max-width: 100%; */
}

/* header */

hr {
  color: #dbdbdb;
  /* transform: matrix(1, 0, 0, -1, 0, 0);   */
}

header {
  /* max-width: 100%; */
  height: auto;
  display: flex;
  justify-content: space-around;
  /* padding-top: 0.9rem; */
  /* padding-bottom: 0; */
}
.instahram-logo {
  cursor: pointer;
  max-height: 30px;
}
.icons {
  cursor: pointer;
}
.search {
  min-width: 55px;
  max-height: 30px;
  text-align: center;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}
/* header */

/* main */

main {
  padding-left: 6.5rem;
}

section {
  padding: 1rem;
}

.main-right {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

/* .main-right:nth-child(3) {
  width: 20px;
} */

.main-right > h2 {
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #262626;
  margin-right: 1rem;
}
.main-right > button {
  /* width: 30%; */
  height: 1.9rem;
  background: #4094ef;
  border-radius: 3px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-right: 8px;
  border: none;
}
.point {
  height: 35px;
  text-decoration: none;
  color: #262626;
  font-size: 15px;
  /* position: relative; */
  /* width: 4px; */
  /* display: flex; */
  /* text-align: center; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100%; */
  /* top: -20px; */
}

.follow {
  display: flex;
  gap: 35px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 100;
  font-size: 17px;
  line-height: 21px;
  /* align-items: center; */
  color: #262626;
}
.follows {
  padding-bottom: 50px;
}
.follows > p {
  margin: 0;
  width: 530px;
  /* height: 50px; */
  color: #262626;
}

.circl {
  
  height: 250px;
  display: flex;
}

.circle2-name-oll {
  /* width: 100%; */
  display: flex;
}

.circle {
  max-width: 153px;
  /* width: 153px; */
  border-radius: 50%;
  margin-right: 5.5rem;
  margin-bottom: 5.5rem;
}
.circle2 {
  width: 79px;
  border-radius: 50%;
}

.name {
  /* width: 41px; */
  /* height: 17px; */
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #262626;
}

.circle2-name {
  width: 87px;
  margin-right: 40px;
  /* display: block; */
  /* align-items: center; */
  /* text-align: center; */
}
.circle2-name > p {
  padding-left: 20px;
  padding-top: 10px;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  color: #262626;
}
/* main */

.text-center {
  display: block;
  text-align: center;
}
.POSTS {
  /* width: 100%; */
  text-decoration: none;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.09em;
  color: #262626;
  margin-right: 60px;
}

.POSTS::after {
  content: "";
  width: 7%;
  height: 1px;
  background: #262626;
  /* display: inline-block; */
  position: absolute;
  top: -10px;
  left: 40.2%;
  /* top: 0%; */
}

.TAGGED {
  text-decoration: none;
  /* width: 55px; */
  /* height: 15px; */
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  /* display: flex; */
  /* align-items: center; */
  /* letter-spacing: 0.09em; */
  color: #8f8f8f;
}
