doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="style.css")
		title hw12
	body 
		header 
			div.header1-container
				ul 
					li 
						a Home
						a About
						a Contact
				span Landie
				button Buy Now

			div.header2-container
				h2 Introduce Your Product Quickly & Effectively
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				button.hed-butt1 Purchase UI Kit
				button.hed-butt2 Learn More

		main 
			section.two
				h2 Light, Fast & Powerful
				p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
				div 
					img(src="./img/2_icon.png", alt="icon")
					h3 Title Goes Here
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. 
			section.three
			section.four
			section.five
			section.six