@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  margin: 0;
  padding: 0;
}

header {
  background: url(./img/background/header.svg) 100% no-repeat;
}

.header1-container ul li {
  list-style: none;
}

.header1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header1-container ul li a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505F98;
  margin-right: 60px;
}

.header1-container span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  color: #37447E;
}

.header1-container button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #111B47;
  border-radius: 2px;
  width: 160px;
  height: 26px;
}

.header2-container {
  padding-top: 300px;
  margin-left: 150px;
}

.header2-container h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  letter-spacing: 1px;
  color: #091133;
  width: 539px;
}

.header2-container p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #505F98;
  width: 539px;
}

.hed-butt1 {
  background: #111B47;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  width: 189px;
  height: 26px;
}

.hed-butt2 {
  border: 2px solid #091133;
  border-radius: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #091133;
  width: 189px;
  height: 26px;
}

main {
  padding-left: 165px;
}

.two {
  background: url(./img/2-undraw_happy_news_hxmt.svg) 100% no-repeat;
}

.two h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133;
}

.two p {
  ont-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6F7CB2;
  max-width: 540px;
}
.two h3 {
  color: #00ff62;
}