@import url(./normalize.css);

body{
	/* max-width: 100%; */
	/* margin: 0 auto; */
	/* position: relative; */
	/* width: 1440px; */
	/* height: 4077px; */
	background: #F6F6F6;
}

nav{
	background: #FFFFFF;
	display: grid;
	justify-items: center;
	align-items: center;
	/* grid-template-rows: 1fr 1fr 1fr; */
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-template-areas: */
	/* "item1 item2 item3 " */
	/* display: flex; */
	/* width: 1440px; */
	/* height: 153px; */
}

.header-Lady_shop{ 
	/* display: grid; */
	/* grid-template-columns: 1fr 1fr 1fr; */
	/* grid-template-rows: 1fr 1fr 1fr; */
	/* display: flex; */
	/* width: 109px; */
	/* height: 41px; */
	font-family: 'Rochester';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 41px;
	color: #1B2437;
	text-decoration: none;
	
}

.header-Lady_shop:hover{
	color: red;
}

.header-social>a{
	margin-right: 40px;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
}

.header-search>a{
	/* display: flex; */
	/* display: grid; */
	/* justify-items: end; */
	margin-right: 40px;
	/* float: right; */
	/* justify-content: end; */
}

hr{
	/* background: #F3F3F3; */
	opacity: 0.2;
	height: 1px;
}

.nav-2b-oll{
	/* position: relative; */
	/* display: flex; */
	/* justify-items: center; */
	/* align-items: center; */
	background: #FFFFFF;
	/* display: grid; */
	/* grid-template-rows: 1fr 1fr 1fr 1fr; */
	/* grid-template-columns: 1fr 1fr 1fr 1fr; */
}

.nav-2b{
	/* position: relative; */
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* display: grid; */
	/* grid-gap: 80px; */
	/* width: 112px; */
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 37px;
	color: #000000;
	text-decoration: none;
	/* margin-left: 80px; */
	margin-right: 40px;
}


main{
	/* width: 1439px; */
	/* height: 569px; */
}

.Admire-Stylish{
	max-width: 1439px;
	height: 569px;
	background: url(./img/hero.png);
}
/* 2block */

.main-oll-block{
	/* display: flex; */
}

.main-top-block{
	/* display: grid; */
	display: flex;
	gap: 30px;
}

.Women-Collection{
	/* display: flex; */
	width: 445px;
	height: 458px;
	background: url(./img/women_collection_category.png);
	background-repeat: no-repeat;
	border-radius: 16px;
}

.main-grey-block{
	width: 303px;
	height: 225px;
	/* left: 640px; */
	/* top: 792px; */
	background: #EFEFF4;
	border-radius: 16px;
}

.main-violet-block{
	width: 302px;
	height: 225px;
	background: url(./img/dresses_category.png);
}

.main-pink-block{
	width: 635px;
	height: 204px;
	background: url(./img/denim_jackets_category.png);
	border-radius: 16px;
}

.main-botom-block{
	
}




.footer-end{
	display: flex;
}

.footer-social>a{
	margin-right: 40px;
}