@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");
@import url("https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic");
@import url("https://fonts.cdnfonts.com/css/product-sans");

body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  /* height: 100%; */
}

/* first */

.first-oll {
  background: #f4f6f9 url(./img/section1/smartphone-background.png);
  background-position: right;
  background-repeat: no-repeat;
  padding-left: 160px;
  background-size: contain;
  height: 665px;
  /* width: 100%; */
  /* height: 100%; */
}

.first-logo {
}

.logo {
  display: flex;
  padding-top: 3.75rem;
  margin-bottom: 8.125rem;
}
.logo > p {
  font-family: "Product Sans";
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #5282f0;
  position: relative;
  top: -25px;
}

.first-text > h2 {
  width: 546px;
  /* height: 96px; */

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  /* display: flex; */
  align-items: flex-end;
  letter-spacing: 0.03em;
  color: #333333;
}
.first-text > h3 {
  width: 453px;
  /* height: 52px; */

  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #4f4f4f;
}

/* button */
.button-first {
  display: flex;
  margin-top: 3.125rem;
  gap: 2.1875rem;
}

button {
  background: #000000;
  border: none;
  border-radius: 0.4584rem;
  width: 9.7531rem;
  height: 2.9375rem;
  font-family: "Roboto";
  font-style: normal;
  display: flex;
  color: #ffffff;
  align-items: center;
  justify-content: center;

}
.button-text>h3 {
  /* box-sizing: border-box; */
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  /* align-items: flex-end; */
  margin: 0;

}
.button-text > p {
	margin: 0;
  font-weight: 500;
  font-size: 1.3295rem;
  line-height: 1.5625rem;
  /* display: flex; */
  /* align-items: flex-end; */
  /* color: #ffffff; */
}

.google-play {
  font-weight: 400;
  font-size: 11.0025px;
  line-height: 13px;
}
.GP-text>h3{
	font-family: 'Roboto';
font-style: normal;
font-weight: 400;
/* font-size: 11.0025px; */
/* line-height: 13px; */
/* display: flex; */
/* align-items: flex-end; */
/* color: #FFFFFF; */
margin: 0;
/* padding: 10px; */
/* height: 2.9375rem; */

}
.GP-text > p {
	font-family: 'Roboto';
	font-style: normal;
	margin: 0;
/* padding: 0; */
  font-weight: 300;
  font-size: 17.6041px;
  line-height: 21px;
  margin-left: 20px;
}

.GP-logo {
  /* display: flex; */
}

/* second */

.second-oll{
  width: 100vw;
  /* background: url(./img/section2/Rectangle-background.png); */
  /* background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(./img/section2/Rectangle-background.png); */
  /* width: 1440px; */
  display: flex;

}
.second-left{
  width: 50.3125rem;
  height: 592px;
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5) url(./img/section2/Rectangle-background.png) 
    /* url(./img/section2/Rectangle-video.png)  */
    ;
      background-position: left;
  background-repeat: no-repeat;
  /* height: 592px; */
  /* display: flex; */

}
.football-photo-video{
  /* margin-bottom: 75px; */
    /* padding-left: 14vw; */
  /* padding-top: -10vh; */
}
.Arsenal-Chelsea{
    width: 535px;
height: 425px;
  background-image: url(./img/section2/Group\ 717.png);
  background-repeat: no-repeat;
  margin-left: 100px;
  margin-top: 80px;


  /* display: block; */
  /* position: relative; */
  /* box-sizing: border-box; */
  /* width: 360px; */
  /* height: 218.06px; */
  /* background: #FFFFFF; */
  /* box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5); */
  /* border-radius: 4px; */
  /* margin-left: 7vw; */
  /* margin-top: 10vh; */
}

/* .football-photo{
  width: 360px;
height: 218.06px;
/* background: url(./img/section2/Rectangle-video.png); */
/* background-image: url(./img/section2/Rectangle-video.png); */
border-radius: 4px;
/* display: block; */
  /* position: relative; */
  /* padding-left: 14vw; */
  /* padding-top: -10vh; */


.second-right>ul>li{
  list-style-type: none;
}
.WHAT-IT{

  width: 582px;
height: 22px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
 padding-top: 130px;
}

.An-Enhanced{
  width: 426px;
height: 37px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 37px;
color: #333333;
 padding-top: 30px;
}

.The-Guardian-Live{
  width: 407px;
height: 185px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 23px;
color: #4F4F4F;
 padding-top: 30px;

}

.Learn-more{
  width: 582px;
height: 22px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;
color: #00ADEE;
 padding-top: 20px;

}